html{
    font-size: 62.5%;   
}
body{
    font-family: $font;
    font-size: 1.6rem;    
}
.container {
    width: 100%;
}
button{
    padding: 12px 16px 12px 16px;
    line-height: 1;
}
.pull-right{
    position: absolute;
    right: 0;
    top: 0;
}

*{
    box-sizing: border-box;
    transition: 300ms;
}